.slider {
  position: relative;
}

.slider__image {
  display: none;
  width: 100%;
  height: 100%; //320px;
}

.slider__panel {
  text-align: center;
  letter-spacing: 5px;

  width: 100%;
  height: 64px;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  line-height: 64px;
  background-image: url(../src/modules/slider/background-white.png);

  position: absolute;
  bottom: 20px;
}

.slider__item {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.slider__item_active {
  color: #ccc;
}

.slider__prev {
  background-image: none;
  cursor: pointer;

  position: absolute;
  left: 10px;
}

.slider__next {
  background-image: none;
  cursor: pointer;

  position: absolute;
  right: 10px;
}